body {
  background-color: rgb(231, 224, 192);
  margin-left: "20%";
  margin-right: "20%";
}
ul {
  list-style-type: none;
  margin: auto;
  width: 60%;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  margin-left: 15%;
  margin-right: 0%;
}
li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
li a:hover {
  background-color: rgb(170, 124, 0);
  color: white;
}
.header {
  color: rgb(156, 84, 55);
}
